<h1>Tres en raya</h1>
<table>
<tr>
  <th>
  <%if$valor1==1 && $juego.mostrarGanador==" "%>
    <form method='post' action='/marcar1'>
      <input type='submit' value=<%=$valor1;%>>
    </form>
    <%else%>
    <form method='post' action='/marcar1'>
    <input type='submit' value=<%=$valor1;%> disabled>
  </form>
  <%end%>
  </th>
  <th><form method='post' action='/marcar2'><input type='submit' value=<%=$valor2;%>></form></th> 
  <th><form method='post' action='/marcar3'><input type='submit' value=<%=$valor3;%>></form></th> 
</tr>
<tr>
  <td><form method='post' action='/marcar4'><input type='submit' value=<%=$valor4;%>></form></td>
  <td><form method='post' action='/marcar5'><input type='submit' value=<%=$valor5;%>></form></td> 
  <td><form method='post' action='/marcar6'><input type='submit' value=<%=$valor6;%>></form></td>
</tr>
<tr>
  <td><form method='post' action='/marcar7'><input type='submit' value=<%=$valor7;%>></form></td>
  <td><form method='post' action='/marcar8'><input type='submit' value=<%=$valor8;%>></form></td> 
  <td><form method='post' action='/marcar9'><input type='submit' value=<%=$valor9;%>></form></td>
</tr>
</table>

<h1><%=$juego.mostrarGanador;%></h1>